<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wengel.astenagaj">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".util.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main_views.SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main_views.WelcomeActivity"
            android:label="@string/title_activity_welcome" />
        <activity
            android:name=".main_views.ManagerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".main_views.CustomerActivity"
            android:label="@string/title_activity_customer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".customer.menus.AddOrderActivity"
            android:label="@string/title_addneworder_acctivity"
            android:parentActivityName=".customer.menus.TableAndQuantityActivity" />
        <activity
            android:name=".customer.orders.BillActivity"
            android:label="@string/title_activity_bill"
            android:parentActivityName=".main_views.CustomerActivity" />
        <activity
            android:name=".manager.ManagerLoginActivity"
            android:label="@string/title_activity_manager_login" />
        <activity
            android:name=".manager.order_management.OrderDetailActivity"
            android:label="@string/title_activity_order_detail"
            android:parentActivityName=".main_views.ManagerActivity" />
        <activity android:name=".manager.employee_management.EmployeeDetailActivity"
            android:label="@string/title_activityEmployeeDetail"
            android:parentActivityName=".main_views.ManagerActivity"/>
        <activity
            android:name=".manager.employee_management.EmployeeEvaluationActivity"
            android:label="@string/title_activityEmployeeEvaluation"
            android:parentActivityName=".manager.employee_management.EmployeeDetailActivity" />
        <activity
            android:name=".manager.employee_management.AddNewEmployeeActivity"
            android:label="@string/title_activityAddNewEmployee"
            android:parentActivityName=".main_views.ManagerActivity" />
        <activity
            android:name=".manager.sales_report.SalesReportActivity"
            android:label="@string/title_activitySalesReport"
            android:parentActivityName=".main_views.ManagerActivity" />
        <activity
            android:name=".customer.menus.TableAndQuantityActivity"
            android:label="@string/title_activity_table_and_quantity"
            android:parentActivityName=".main_views.CustomerActivity" />
        <activity
            android:name=".manager.AboutManagerActivity"
            android:label="@string/title_about_manager_activity"
            android:parentActivityName=".main_views.ManagerActivity" />
        <activity
            android:name=".customer.AboutRestaurantActivity"
            android:label="About restaurant"
            android:parentActivityName=".main_views.CustomerActivity"></activity>
    </application>

</manifest>